/* line 9, ../sass/global_testmodule_wxcards.sass */
.test-block {
  margin: 30px 10px;
  clear: both;
  width: 100%;
  *zoom: 1;
}
/* line 38, ../../../../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.test-block:after {
  content: "";
  display: table;
  clear: both;
}
/* line 14, ../sass/global_testmodule_wxcards.sass */
.test-block > div {
  float: left;
  margin: 0 0 10px 0;
}
