<article data-ng-switch data-on="status">
    <div data-ng-switch-when="loading" data-preload></div>
    <div data-ng-switch-when="error" data-error-handler="status"></div>
    <div data-ng-switch-default class="wx-weather local-suite forecast" style="margin-top: 300px;">



        <h1>Static Views</h1>
        <h2>Card Summary</h2>
        <section class="test-block">
            <div>
                <h3>12 Hour</h3>
                <div data-wxcard-summary="rollingForecast[0]"></div>
            </div>
            <div>
                <h3>24 Hour Day 1 </h3>
                <div data-wxcard-summary="forecast.items[0]"></div>
            </div>
            <div>
                <h3>24 Hour Day 2</h3>
                <div data-wxcard-summary="forecast.items[1]"></div>
            </div>
        </section>

        <h2>Card Detail</h2>
        <section class="test-block">
            <div>
                <h3>12 Hour</h3>
                <div data-wxcard-details="rollingForecast[0]"></div>
            </div>
            <div>
                <h3>24 Hour Day 1</h3>
                <div data-wxcard-details="forecast.items[0]"></div>
            </div>
            <div>
                <h3>24 Hour Day 2</h3>
                <div data-wxcard-details="forecast.items[1]"></div>
            </div>
            <div>
                <h3>24 Hour Day 3</h3>
                <div data-wxcard-details="forecast.items[2]"></div>
            </div>

        </section>

        <h2>Card Toggler</h2>
        <section class="test-block">
            <h3>12 Hour</h3>
            <a href="" data-wxcard-current-conditions data-ng-repeat="daypart in rollingForecast">
                <div data-wxcard-summary="daypart" data-wxcard-show-temp-unit="$index === 0"></div>
                <div data-wxcard-details="daypart"></div>
            </a>
        </section>
        <section class="test-block">
            <h3>24 Hour</h3>
            <a href="" data-wxcard-current-conditions data-ng-repeat="forecastDay in forecast.items | limitTo:4">
                <div data-wxcard-summary="forecastDay" data-wxcard-show-temp-unit="1"></div>
                <div data-wxcard-details="forecastDay"></div>
            </a>
        </section>

    </div>
</article>
