// Load TWC Base Theme utility, base and components:
//@import compass
@import twc_base_partials
//@import twc_includes/local_suite_base

// Import hooks if you need to reference images within a theme directory:
@import twc_base_hooks

.test-block
  margin: 30px 10px
  clear: both
  width: 100%
  +pie-clearfix
  > div
    float: left
    margin: 0 0 10px 0
